---

- name: Enable overcommit_memory in sysctl
  sysctl:
    name: vm.overcommit_memory
    value: "1"
  become: yes
  become_user: root

- name: Setup Redis apt repo
  apt_repository:
    repo: ppa:redislabs/redis
  become: yes
  become_user: root

- name: Install Redis
  apt:
    name: redis
    update_cache: yes
  become: yes
  become_user: root
