{{ ansible_managed | comment }}

[Unit]
Description=the {{ web_app_name }} application
Requires={{ web_app_name }}.socket
After=network.target

[Service]
Type=simple
User={{ web_app_user }}
Group={{ web_app_user }}
ExecStart=/home/{{ web_app_user }}/{{ web_app_name }}
WorkingDirectory=/home/{{ web_app_user }}
EnvironmentFile=/home/{{ web_app_user }}/{{ web_app_name}}.env
NonBlocking=true

[Install]
WantedBy=multi-user.target
