{{ ansible_managed | comment }}

[Unit]
Description={{ web_app_name }}
After=network.target
{% for dep in web_app_systemd_dependencies %}
After={{ dep }}
Requires={{ dep }}
{% endfor %}

[Service]
Type=simple
User={{ web_app_user }}
Group={{ web_app_user }}
{% if web_app_is_jar %}
ExecStart=java -jar /home/{{ web_app_user }}/{{ web_app_name }}.jar
{% else %}
ExecStart=/home/{{ web_app_user }}/{{ web_app_name }}
{% endif %}
WorkingDirectory=/home/{{ web_app_user }}
EnvironmentFile=/etc/{{ web_app_name }}/{{ web_app_name}}.env

[Install]
WantedBy=multi-user.target
