{{ ansible_managed | comment }}

[Unit]
Description=datomic transactor
After=network.target

[Service]
Type=simple
User=datomic
Group=datomic
ExecStart=/home/datomic/datomic/bin/transactor /etc/datomic/transactor.properties
WorkingDirectory=/home/datomic

[Install]
WantedBy=multi-user.target
