{{ ansible_managed | comment }}

[Unit]
Description=datomic peer server
After=network.target
After=postgresql.service
Requires=postgresql.service

[Service]
Type=simple
User=datomic
Group=datomic
ExecStart=/home/datomic/datomic/bin/run  \
  -m datomic.peer-server                 \
  -h 0.0.0.0                             \
  -p 8998                                \
{% for database in datomic_databases %}
  -d '{{ database }},datomic:sql://{{ database }}?jdbc:postgresql://localhost:5432/datomic?user={{ datomic_storage_username }}&password={{ datomic_storage_password }}'  \
{% endfor %}
  -a {{ datomic_peer_access_key }},{{ datomic_peer_secret }}
WorkingDirectory=/home/datomic

[Install]
WantedBy=multi-user.target
