{{ ansible_managed | comment }}

PG2S3_BACKUP_PREFIX='{{ pg2s3_backup_name }}'
PG2S3_BACKUP_RETENTION='{{ pg2s3_backup_retention }}'
PG2S3_PG_CONNECTION_URI='{{ pg2s3_pg_connection_uri }}'
PG2S3_S3_ENDPOINT='{{ pg2s3_s3_endpoint  }}'
PG2S3_S3_ACCESS_KEY_ID='{{ pg2s3_s3_access_key_id }}'
PG2S3_S3_SECRET_ACCESS_KEY='{{ pg2s3_s3_secret_access_key }}'
PG2S3_S3_BUCKET_NAME='{{ pg2s3_s3_bucket_name }}'
PG2S3_AGE_PUBLIC_KEY='{{ pg2s3_age_public_key }}'
