[Unit]
Description=gunicorn wsgi server
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
User={{ python_app_user }}
Group={{ python_app_user }}
WorkingDirectory=/home/{{ python_app_user }}
EnvironmentFile=/home/{{ python_app_user }}/gunicorn.env
ExecStart=gunicorn -c gunicorn.conf.py {{ python_app_wsgi_callable }}
ExecReload=/bin/kill -s HUP $MAIDPID
TimeoutStopSec=5
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target
