[Unit]
Description=python wsgi application
After=network.target

[Service]
Type=notify
User={{ python_app_user }}
Group={{ python_app_user }}
WorkingDirectory=/home/{{ python_app_user }}/
EnvironmentFile=/home/{{ python_app_user }}/{{ python_app_name }}.env
ExecStartPre=/home/{{ python_app_user }}/{{ python_app_name }}.pyz migrate
ExecStart=/home/{{ python_app_user }}/{{ python_app_name }}.pyz gunicorn
TimeoutStopSec=5
KillMode=mixed

CapabilityBoundingSet=~CAP_SYS_ADMIN
PrivateDevices=true
PrivateTmp=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
SystemCallArchitectures=native

#DynamicUser=true
#ProtectHome=true

[Install]
WantedBy=multi-user.target
