{{ ansible_managed | comment }}

[Unit]
Description=bloggulus
Documentation=https://github.com/theandrew168/bloggulus-svelte
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=bloggulus
Group=bloggulus
WorkingDirectory=/usr/local/src/bloggulus-svelte/active
Environment="BLOGGULUS_CONF=/etc/bloggulus.conf"
Environment="KEEP_ALIVE_TIMEOUT=65"
Environment="HEADERS_TIMEOUT=66"
ExecStartPre=npm run migrate
ExecStart=node build/

LockPersonality=true
NoNewPrivileges=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native

PrivateDevices=true
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true

ProtectSystem=strict
ProtectProc=invisible
ProcSubset=pid

[Install]
WantedBy=multi-user.target
