{{ ansible_managed | comment }}

[Unit]
Description=bloggulus
Documentation=https://github.com/theandrew168/bloggulus-svelte
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=bloggulus
Group=bloggulus
WorkingDirectory=/usr/local/src/bloggulus-svelte/active
Environment="BLOGGULUS_CONF=/etc/bloggulus.conf"
Environment="KEEP_ALIVE_TIMEOUT=65"
Environment="HEADERS_TIMEOUT=66"
ExecStartPre=npm run migrate
ExecStart=node build/

[Install]
WantedBy=multi-user.target
