integrations:
  node_exporter:
    enabled: true
  prometheus_remote_write:
  - basic_auth:
      password: {{ grafana_password }}
      username: {{ grafana_username_prometheus }}
    url: https://prometheus-prod-10-prod-us-central-0.grafana.net/api/prom/push
{% if 'redis' in grafana_integrations %}
  redis_exporter:
    enabled: true
    redis_addr: localhost:6379
{% endif %}
loki:
  configs:
  - clients:
    - basic_auth:
        password: {{ grafana_password }}
        username: {{ grafana_username_loki }}
      url: https://logs-prod-us-central1.grafana.net/api/prom/push
    name: integrations
    positions:
      filename: /tmp/positions.yaml
    target_config:
      sync_period: 10s
prometheus:
  configs:
  - name: integrations
    remote_write:
    - basic_auth:
        password: {{ grafana_password }}
        username: {{ grafana_username_prometheus }}
      url: https://prometheus-prod-10-prod-us-central-0.grafana.net/api/prom/push
    scrape_configs:
{% if 'caddy' in grafana_integrations %}
    - job_name: integrations/caddy
      static_configs:
      - targets:
        - localhost:2019
{% endif %}
  global:
    scrape_interval: 15s
  wal_directory: /tmp/grafana-agent-wal
server:
  http_listen_port: 12345
