---

- name: Ensure en_US.UTF-8 locale is available
  locale_gen:
    name: en_US.UTF-8
    state: present
  become: yes
  become_user: root

- name: Check current system locale
  command: localectl status
  register: locale_status
  changed_when: no
  become: yes
  become_user: root

- name: Set system locale
  command: localectl set-locale en_US.UTF-8
  when: "'LANG=en_US.UTF-8' not in locale_status.stdout"
  become: yes
  become_user: root

- name: Install common system tools
  apt:
    name:
      - htop
      - ncdu
      - net-tools
      - python3-venv
      - ripgrep
      - sqlite3
      - tree
      - ufw
      - unattended-upgrades
      - unzip
      - vim
    update_cache: yes
  become: yes
  become_user: root

- name: Configure unattended upgrades
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "0644"
  with_items:
    - src: 20auto-upgrades.j2
      dest: /etc/apt/apt.conf.d/20auto-upgrades
    - src: 50unattended-upgrades.j2
      dest: /etc/apt/apt.conf.d/50unattended-upgrades
  become: yes
  become_user: root

- name: Limit journald log sizes
  lineinfile:
    path: /etc/systemd/journald.conf
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
    - regexp: "^#?SystemMaxUse"
      line: "SystemMaxUse=50M"
    - regexp: "^#?SystemMaxFileSize"
      line: "SystemMaxFileSize=10M"
  notify: restart systemd-journald
  become: yes
  become_user: root

- name: Enforce pubkey as only SSH auth method
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
    - regexp: "^#?UsePAM"
      line: "UsePAM yes"
    - regexp: "^#?PubkeyAuthentication"
      line: "PubkeyAuthentication yes"
    - regexp: "^#?PasswordAuthentication"
      line: "PasswordAuthentication no"
    - regexp: "^#?ChallengeResponseAuthentication"
      line: "ChallengeResponseAuthentication no"
  notify: reload sshd
  become: yes
  become_user: root

- name: Limit SSH login attempts
  ufw:
    rule: limit
    port: "22"
  become: yes
  become_user: root

- name: Setup firewall rules
  ufw:
    rule: "{{ item.rule }}"
    port: "{{ item.port }}"
  with_items: "{{ ubuntu_firewall_rules }}"
  become: yes
  become_user: root

- name: Enable UFW
  ufw:
    state: enabled
  become: yes
  become_user: root

- name: Make vim the default text editor
  alternatives:
    name: editor
    path: /usr/bin/vim.basic
  become: yes
  become_user: root
