# general agent config
server:
  # explicit HTTP port here for self-scraping
  http_listen_address: 127.0.0.1
  http_listen_port: 12345

  # don't care about gRPC port, just want to listen locally
  grpc_listen_address: 127.0.0.1
  grpc_listen_port: 0

# bundled prometheus integrations
integrations:
  agent:
    enabled: true
  node_exporter:
    enabled: true
  prometheus_remote_write:
  - url: '{{ agent_cortex_endpoint }}'
    basic_auth:
      username: '{{ agent_cortex_username }}'
      password: '{{ agent_cortex_password }}'
{% if agent_postgresql_connection_uri %}
  postgres_exporter:
    enabled: true
    data_source_names: ['{{ agent_postgresql_connection_uri }}']
{% endif %}
{% if agent_redis_address %}
  redis_exporter:
    enabled: true
    redis_addr: '{{ agent_redis_address }}'
{% endif %}

# prometheus scrape configs
prometheus:
  global:
    scrape_interval: {{ agent_scrape_interval }}
  wal_directory: /tmp/grafana-agent-wal
  configs:
  - name: prometheus
    remote_write:
    - url: '{{ agent_cortex_endpoint }}'
      basic_auth:
        username: '{{ agent_cortex_username }}'
        password: '{{ agent_cortex_password }}'
    scrape_configs:
{% for config in agent_scrape_configs %}
    - job_name: {{ config.name }}
      static_configs:
      - targets: ['{{ config.target }}']
{% endfor %}

# loki scrape configs
loki:
  configs:
  - name: loki
    clients:
    - url: '{{ agent_loki_endpoint }}'
      basic_auth:
        username: '{{ agent_loki_username }}'
        password: '{{ agent_loki_password }}'
    target_config:
      sync_period: {{ agent_scrape_interval }}
    positions:
      filename: /tmp/positions.yaml
    scrape_configs:
    - job_name: journal
      journal:
        max_age: 12h
        labels:
          job: journal
      # labels (__journal_<name>) based on:
      # https://www.freedesktop.org/software/systemd/man/systemd.journal-fields.html
      relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: systemd_unit
      - source_labels: ['__journal__hostname']
        target_label: nodename
      - source_labels: ['__journal_syslog_identifier']
        target_label: syslog_identifier
