server:
  http_listen_address: 127.0.0.1
  http_listen_port: 12345
integrations:
  node_exporter:
    enabled: true
  prometheus_remote_write:
  - url: https://prometheus-prod-10-prod-us-central-0.grafana.net/api/prom/push
    basic_auth:
      username: {{ agent_username_prometheus }}
      password: {{ agent_password }}
{% if 'postgresql' in agent_integrations %}
  postgres_exporter:
    enabled: true
    data_source_names: ['{{ agent_postgresql_connection_uri }}']
{% endif %}
{% if 'redis' in agent_integrations %}
  redis_exporter:
    enabled: true
    redis_addr: 'localhost:6379'
{% endif %}
prometheus:
  configs:
  - name: integrations
    remote_write:
    - url: https://prometheus-prod-10-prod-us-central-0.grafana.net/api/prom/push
      basic_auth:
        username: {{ agent_username_prometheus }}
        password: {{ agent_password }}
    scrape_configs:
{% if 'caddy' in agent_integrations %}
    - job_name: integrations/caddy
      static_configs:
      - targets: ['localhost:2019']
{% endif %}
{% if 'go' in agent_integrations %}
    - job_name: integrations/go
      static_configs:
      - targets: ['localhost:2112']
{% endif %}
  global:
    scrape_interval: 15s
  wal_directory: /tmp/grafana-agent-wal
loki:
  configs:
  - name: integrations
    clients:
    - url: https://logs-prod-us-central1.grafana.net/api/prom/push
      basic_auth:
        username: {{ agent_username_loki }}
        password: {{ agent_password }}
    positions:
      filename: /tmp/positions.yaml
    target_config:
      sync_period: 10s
    scrape_configs:
    - job_name: systemd-journal
      journal:
        max_age: 12h
        labels:
          job: systemd-journal
      relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: systemd_unit
      - source_labels: ['__journal__hostname']
        target_label: nodename
      - source_labels: ['__journal_syslog_identifier']
        target_label: syslog_identifier
