{{ ansible_managed | comment }}

[Unit]
Description=victoria-traces
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
User=victoria
Group=victoria
ExecStart=/usr/local/bin/victoria-traces -storageDataPath {{ victoria_traces_data_dir }} -httpListenAddr {{ server_internal_network_ip }}:10428 -httpListenAddr 127.0.0.1:10429

[Install]
WantedBy=multi-user.target
