{{ ansible_managed | comment }}

[Unit]
Description=postgres_exporter
Documentation=https://github.com/prometheus-community/postgres_exporter
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=postgres_exporter
Group=postgres_exporter
EnvironmentFile=/etc/postgres_exporter.env
ExecStart=postgres_exporter

[Install]
WantedBy=multi-user.target
